- form_for @comment do |f|
  = f.error_messages
  = f.hidden_field :recipe_id, :value => @recipe.id
  %table.form
    %tr
      %th= f.label :rating, "Bewertung:"
      %td
      = f.radio_button :rating, 1, :class => "star"
      = f.radio_button :rating, 2, :class => "star"
      = f.radio_button :rating, 3, :class => "star"
      = f.radio_button :rating, 4, :class => "star"
      = f.radio_button :rating, 5, :class => "star"
    %tr
      %th= f.label :comment, "Kommentar:"
      %td= f.text_area :comment, :rows => 4
    %tr
      %th &nbsp;
      %td= f.submit submit_text
  