.comment
  .head
    %span.rating_stars
      = render :partial => "comments/rated_stars",             |
               :locals => {                                    |
                 :rated      => comment.rating,                |
                 :not_rated  => comment.not_rated_stars_count, |
                 :background => "white" }
    
    %span.strong= comment.user.display_name + ","
    = format_date(comment.created_at)
  
  .text
    = comment.comment
    - if comment.user_allowed_to_edit?(@current_user)
      %p
        = link_to "bearbeiten", edit_comment_url(comment.id), :class => "edit"
        = link_to "löschen", comment_url(comment.id), :method => :delete, :confirm => "Soll dieser Kommentar wirklich gelöscht werden?", :class => "delete"
