- form_for @recipe, :url => recipes_path do |f|
  = f.error_messages
  %table.form
    %tr
      %th= f.label :name, "Name"
      %td= f.text_field :name
    = render :partial => 'ingredients/add', :object => f
    %tr
      %th= f.label :directions, "Anleitung"
      %td= f.text_area :directions
    %tr
      %th= f.label :footnotes, "Bemerkung"
      %td= f.text_area :footnotes
    %tr
      %th &nbsp;
      %td= f.submit submit_text
