- form_for @recipe do |f|
  = f.error_messages
  %table.form
    %tr
      %th= f.label :name, "Name:"
      %td= f.text_field :name
    %tr
      %th= f.label :category
      %td= f.select :category_id, Category.ordered.collect { |c| [c.name, c.id] }
    %tr
      %th Zutaten:
      %td
        - f.fields_for :ingredients do |builder|
          = render 'ingredients/form', :f => builder
        %p= link_to_add_fields "hinzufügen", f, :ingredients
    %tr
      %th= f.label :directions, "Anleitung:"
      %td= f.text_area :directions, :rows => 6
    %tr
      %th= f.label :footnotes, "Bemerkung:"
      %td= f.text_area :footnotes, :rows => 4
    %tr
      %th &nbsp;
      %td= f.submit submit_text
