#column_container
  #column_left
    - @recipes.each do |recipe|
      %div.recipe_list
        %h2= link_to recipe.name, recipe_url(recipe.id), :class => "details"
        %h3= recipe.category.name
        %p
          eingestellt von #{recipe.user.display_name}
          %br
          eingestellt am #{format_date(recipe.created_at)}

  #column_right
    #recipe_filter
      %h2 Filter
      %ul
        %li= link_to "meine Rezepte", recipes_url(:filter => "my")
        %li= link_to "neueste Rezepte", recipes_url
        %li= link_to "Top 10", recipes_url(:filter => "top_10")
        %li nach Kategorien
