#column_container
  #column_left
    - @recipes.each do |recipe|
      %div.recipe_list
        %h2= link_to recipe.name, recipe_url(recipe.id)
        %h3= recipe.category.name
        %p
          eingestellt von #{recipe.user.display_name}
          %br
          eingestellt am #{format_date(recipe.created_at)}
        = link_to "Details", recipe_url(recipe.id), :class => "details"

  #column_right
    #recipe_filter
      %h2 Filter
      %ul
        %li= link_to "meine Rezepte", recipes_url
        %li neueste Rezepte
        %li Rezepte mit den besten Bewertungen
        %li nach Kategorien
