#column_container
  #recipe
    %h1= @recipe.name
    %h2= @recipe.category.name
    #ingredients
      %p.strong Zutaten:
      %ul
        - @recipe.ingredients.each do |ingredient|
          %li= ingredient.name

    #directions
      %p.strong Anleitung:
      = @recipe.directions

      %p.strong Bemerkung:
      = @recipe.footnotes

  #recipe_infos
    %p
      %span.label Autor:
      %span.text #{@recipe.user.display_name}
  
    %p
      %span.label eingestellt am:
      %span.text #{format_date(@recipe.created_at)}
  
    %p
      %p.label durchschnittliche Bewertung:
      = render :partial => "comments/rated_stars",                           |
               :locals => {                                                  |
                 :rated => @recipe.average_rating,                           |
                 :not_rated => Comment::MAX_RATING - @recipe.average_rating, |
                 :background => "dark" }

    #recipe_actions
      - if @recipe.user_allowed_to_edit?(@current_user)
        %p= link_to "bearbeiten", edit_recipe_url(@recipe.id), :class => "edit"
        %p= link_to "löschen", recipe_url(@recipe.id), :method => :delete, :confirm => "Soll dieses Rezept wirklich gelöscht werden?", :class => "delete"

.dark_container
  %h2 Kommentare:
  %p
    = link_to "Kommentar hinzufügen", "#", :onclick => '$("#comment_form").toggle("slow")'

#comment_form{ :style => "display:none" }
  = render :partial => "comments/form", :locals => { :submit_text => "speichern" }

- @recipe.comments.each do |comment|
  = render :partial => "comments/show", :locals => { :comment => comment }
