%h1 Login

- form_for @user_session, :url => user_session_path do |f|
  = f.error_messages
  %table.form
    %tr
      %th= f.label :login
      %td= f.text_field :login
    %tr
      %th= f.label :password
      %td= f.password_field :password
    %tr
      %th &nbsp;
      %td= "#{f.check_box :remember_me} #{f.label :remember_me}"
    %tr
      %th &nbsp;
      %td= f.submit "Login"
