!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "de"}
  %head
    %title Mein Rezeptbuch
    = stylesheet_link_tag "screen"
    = javascript_include_tag "jquery", :cache => true
    = javascript_include_tag "application_jquery", :cache => true
  %body
    #page
      -#%h1#logo Meine Rezepte
      %img{:src => '/images/logo.jpg'}

      #user_nav
        %ul
          - if @current_user
            %li Benutzer: #{link_to current_user_display_name, account_url}
            - if @current_user.is_admin
              %li= link_to "Kategorien", categories_url
            %li= link_to "Logout", user_session_url(@current_user.id), :method => :delete
          - else
            %li= link_to "Login", root_url
            %li= link_to "registrieren", new_user_url
      - if @current_user
        %ul#main_nav
          %li= link_to "alle Rezepte", recipes_url
          %li= link_to "neues Rezept einstellen", new_recipe_url

      #container
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

        #content
          = yield
      
      #page_foot
        %span.strong &copy; 2010
